<header>
  <div class="left-header">
    <h1>Mia's Library</h1>
  </div>
  <div class="right-header">
    <a href="/addManga">Add Mangas</a>
    <a href="/">Home</a>
    <a href="/about">About</a>
  </div>
</header>
